<!-- index.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Learning Blogs</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}">
</head>

<body>
    <!-- Navigation Bar -->
    <nav class="nav-bar">
        <div class="nav-logo">Machine Learning Blogs</div>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</body>

</html>